<h1>Stupid Coaching</h1>
<div class="questions">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>
<div class="coach_answer">
  <p><strong><%= @coach_answer %></strong></p>
  <p><em>-Your coach</em></p>
</div>
<p>
<%= link_to 'ask a new question', ask_path %>
</p>
